* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .box{
    width: 500px;
    height: 200px;
    margin: 50px auto;
    border: 5px solid black;
    overflow-y: scroll;
    
    
  }

  .animal h1{
    position: sticky;
    top: 0;
    background-color: grey;
    width: 100%;
    border: none;

  }


 




